body{
    background:linear-gradient(to right,#e3f2fd,#ffffff);
    font-family:Arial;
}

.container{
    width:650px;
    margin:40px auto;
    padding:25px;
    background:white;
    border-radius:12px;
    box-shadow:0 4px 20px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

input{
    padding:10px;
    margin:5px;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    padding:8px 15px;
    border:none;
    background:#007bff;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    margin-top:20px;
    border-collapse:collapse;
}

th{
    background:#007bff;
    color:white;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}

tr:hover{
    background:#f1f1f1;
}

.success{
    color:green;
    text-align:center;
    font-weight:bold;
}

.error{
    color:red;
    text-align:center;
    font-weight:bold;
}

.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.modal-content{
    background:white;
    width:300px;
    margin:200px auto;
    padding:20px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 0 10px black;
}

#yesBtn{
    background:red;
    margin:5px;
}

#noBtn{
    background:gray;
    margin:5px;
}
